<!DOCTYPE html>
<body>
  <h1> please create ladeger </h1>
    <form method="post" action=" ">
        {% csrf_token %}
        <label>led_name: </label>
        <input name="led_name">
        <br>
        <label>led_group: </label>
        <input name="led_group">
        <br> 
        <label>led_address: </label>
        <input name="led_address">
        <br>
        <!-- <label>led_country: </label>
        <input name="led_country">
        <br>
        <label>led_state: </label>
        <input name="led_state">
        <br>
        <label>led_mobile: </label>
        <input type="text" name="led_mobile">
        <br>
        <label>led_gst: </label>
        <input type="text" name="led_gst"> -->
       
        <input type="submit" value="Submit">
    </form>

</body>